/*banner style seet */

.banner {
    text-align: center;
    background-color: #353353;
    position: relative;
    .innerbanner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        position: relative;
        .banner_main {
            text-align: center;
            .banne_hed {
                font-family: 'Rubik', sans-serif;
                font-size: 60px;
                font-weight: 700;
                color: #fff;
                margin-bottom: 8px;
            }
            .banne_hed2 {
                font-size: 36px;
                font-weight: 700;
                margin-bottom: 20px;
            }
            .banner_pra {
                font-size: 20px;
                color: #fff;
                line-height: 1.7;
                font-weight: 400;
                margin-bottom: 24px;
                font-family: "Rubik", sans-serif;
            }
            .banner_pra2 {
                font-size: 18px;
                margin-bottom: 25px;
            }
            .button {
                .demos {
                    border-radius: 30px;
                    font-family: "Rubik", sans-serif;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 1;
                    padding: 12px 32px;
                    color: #fff;
                    display: inline-block;
                    vertical-align: middle;
                    position: relative;
                    transform: perspective(1px) translateZ(0);
                    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                    background: #FF4C60;
                    text-decoration: none;
                    text-transform: capitalize;
                    &:hover {
                        animation-name: button-push;
                        animation-duration: 0.3s;
                        animation-timing-function: linear;
                        animation-iteration-count: 1;
                    }
                }
                .demos2 {
                    background-color: #fff;
                    color: #353353;
                    .logoimg {
                        img {
                            max-width: 16px;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
    .svg_item {
        position: absolute;
    }
    .svg {
        top: 173px;
        left: 337px;
    }
    .svg1 {
        top: 58px;
        left: 135px;
    }
    .svg2 {
        bottom: 174px;
        left: 202px;
    }
    .svg3 {
        bottom: 58px;
        left: 135px;
    }
    .svg4 {
        top: 55px;
        left: 607px;
    }
    .svg5 {
        left: 540px;
        bottom: 57px;
    }
    .svg6 {
        top: 115px;
        right: 405px;
    }
    .svg7 {
        bottom: 116px;
        right: 405px;
    }
    .svg8 {
        top: 56px;
        right: 135px;
    }
    .svg9 {
        top: 261px;
        right: 270px;
    }
    .svg10 {
        bottom: 58px;
        right: 135px;
    }
}

.banner2 {
    .innerbanner2 {
        width: 100%;
        height: 100%;
    }
    margin-top: 90px;
    padding: 100px 0;
}