    .damo {
        padding-top: 112px;
        .damos {
            position: relative;
            .damo_hed {
                font-size: 36px;
                color: #454360;
                font-family: "Rubik", sans-serif;
                font-weight: 700;
                margin-left: 14px;
                margin-bottom: 58px;
            }
            .dot_img {
                position: absolute;
                top: -15px;
                left: -5px;
            }
        }
        .damo_item {
            position: relative;
            height: 300px;
            width: 100%;
            margin: 0 auto;
            display: inline-block;
            border-radius: 20px;
            cursor: pointer;
            overflow: hidden;
            box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
            background-color: #fff;
            a {
                display: block;
                .damo_img {
                    width: 100%;
                    cursor: pointer;
                    vertical-align: middle;
                    border-style: none;
                    background-image: url(../image/1-1-min.png);
                    display: inline-block;
                    background-position: center 0;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 300px;
                    left: 0;
                    margin: 0 auto;
                    right: 0;
                    transition: all 5s;
                    &:hover {
                        background-position: center 100%;
                    }
                }
                .hhhh {
                    background-image: url(../image/1-2-min.png);
                }
            }
        }
        .damo_condation {
            margin: 20px 0;
            margin-bottom: 0;
            margin-top: 1.5rem;
            text-align: center;
            text-decoration: none;
            a {
                display: inline-block;
                padding: 0px;
                font-size: 18px;
                transition: .5s;
                text-decoration: none;
                position: relative;
                color: #454360;
                font-weight: 700;
                text-transform: capitalize;
                font-family: "Rubik", sans-serif;
                &::before {
                    position: absolute;
                    content: "";
                    bottom: 0;
                    right: 50%;
                    width: 0;
                    height: 2px;
                    background: #eb1b2b;
                    opacity: 0;
                    transition: all 0.5s;
                }
                &.active,
                &:hover {
                    color: #eb1b2b;
                    &::before {
                        width: 100%;
                        right: 0;
                        opacity: 1;
                    }
                }
            }
            &:hover {
                background: transparent;
                a {
                    color: #eb1b2b;
                }
            }
        }
    }